{% extends '../index_master.html'%}

{% block titulo %} Clientes {% endblock %}

{% block content %}

<div class="card">
  <div class="card-header">
    <a name="" id="" class="btn btn-sucess" href="#" role="button"> Agregar nuevo Cliente</a>
  </div>
  <div class="card-body">
    <h4 class="card-title">Clientes</h4>
    <table class="table">
      <thead>
        <tr>
          <th>ID</th>
          <th></th>
          <th>ID</th>
          <th>ID</th>
          <th>ID</th>
          <th>ID</th>
        </tr>
    </table>
  </div>
</div>

<div class="card">
  <div class="card-header">
    <a name="" id="" class="btn btn-sucess" href="#" role="button"> Agregar nuevo Cliente</a>
  </div>
  <div class="card-body">
    <h4 class="card-title">Terreno</h4>
    <table class="table">
      <thead>
        <tr>
          <th>No.</th>
          <th>($/m2)V</th>
          <th>(FAC)</th>
          <th>(FSer)</th>
          <th>(FEq)</th>
          <th>(FSal)</th>
          <th>(Ff-f)</th>
          <th>(FOC)</th>
          <th>(FEd)</th>
          <th>(FFor)</th>
          <th>(FPen)</th>
          <th>(FDer)</th>
          <th>(FDis)</th>
          <th>(FNeg)</th>
          <th>(FRes)</th>
          <th>(FHom)</th>
          <th>($/m2)H</th>
        </tr>
        <tr>
          <td>1</td>
          <td>$3.000.00</td>
          <td>1.10</td>
          <td>0.80</td>
          <td>1.00</td>
          <td>1.10</td>
          <td>1.20</td>
          <td>0.80</td>
          <td>0.90</td>
          <td>0.80</td>
          <td>0.80</td>
          <td>1.00</td>
          <td>1.00</td>
          <td>0.00</td>
          <td></td>
          <td>$</td>
        </tr>
    </table>
  </div>
</div>


{% endblock %}